.jumbotron {
    background: url(tv-test.png);
}

h1 {
    font-family: 'Audiowide', cursive;
}

body {
    background-color: rgb(72, 72, 218);
}

#search {
    display: none;
    position: fixed;
    top: 17vh;
    left: 32vw;
    max-width: 40vw;
    max-height: 70vh;
    overflow: scroll;
    box-shadow: 3px 3px 5px black;
}

.option-div:hover {
    cursor: hand;
    cursor: pointer;
}

.selected {
    height: 15vh;
    width: auto;
}